{% extends 'core/base.html' %}

{% block title %}Edit account{% endblock %}

{% block content %}
<div class="max-w-6xl mx-auto p-6 xl:px-0">
    <h1 class="mb-5 text-3xl">Edit account</h1>

    <form class="space-y-3" method="post" action="{% url 'core:edit_account' %}" autocomplete="off">
        {% csrf_token %}

        {% for f in form %}
        <label for="{{ f.id_for_label }}" class="inline-block w-32">{{ f.label }}: </label>{{ f }}
        <br>

        {% if f.errors %}
        <div class="w-[28rem] py-2 px-4 bg-red-200 text-red-800 rounded-md">
            {% for error in f.errors %}
            <p>{{ error }}</p>
            {% endfor %}
        </div>
        {% endif %}

        {% endfor %}

        {% if form.non_field_errors %}
        <div class="w-[28rem] py-2 px-4 bg-red-200 text-red-800 rounded-md">
            <ul>
                {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <button type="submit" class="inline-block mt-5 py-2 px-4 rounded-md bg-purple-500 hover:bg-purple-700 text-white">Save</a>
    </form>
</div>
{% endblock %}
