{% extends 'core/base.html' %}

{% block content %}
<div class="max-w-lg mx-auto flex flex-wrap p-6">
    <div class="w-full bg-gray-100 p-6 rounded-xl">
        <h1 class="mb-6 text-2xl font-medium">Log in</h1>

        <form method="post" autocomplete="off" action="." class="space-y-3">
            {% csrf_token %}

            {% for f in form %}
            <div>
                <label for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}
            </div>

            {% if f.errors %}
            <div class="p-6 bg-red-200 text-red-800 rounded-xl">
                {% for error in f.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}

            {% endfor %}


            {% if form.non_field_errors %}
            <div class="p-6 bg-red-200 text-red-800 rounded-xl">
                <ul>
                    {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            <div>
                <button type="submit" class="py-4 px-6 rounded-xl text-white bg-purple-500 hover:bg-purple-700 font-medium">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}