{% extends 'core/base.html' %}

{% block title %}My account{% endblock %}

{% block content %}
<div class="max-w-6xl mx-auto p-6 xl:px-0">
    <h1 class="mb-5 text-3xl">My account</h1>
    <div class="mb-8 space-y-3">
        <div>
            <strong class="inline-block w-32">Username:</strong>
            <span>{{ request.user.username }}</span>
        </div>

        <div>
            <strong class="inline-block w-32">Email:</strong>
            <span>{{ request.user.email }}</span>
        </div>

        <div>
            <strong class="inline-block w-32">First name:</strong>
            <span>{{ request.user.first_name }}</span>
        </div>

        <div>
            <strong class="inline-block w-32">Last name:</strong>
            <span>{{ request.user.last_name }}</span>
        </div>

        <a href="{% url 'core:edit_account' %}" class="inline-block py-2 px-4 rounded-md bg-purple-500 hover:bg-purple-700 text-white">Edit</a>
    </div>

    <hr>

    <h2 class="text-3xl my-6">My orders</h2>

    <div class="w-full text-right mb-6 p-6 flex flex-wrap rounded-xl bg-gray-100">
        <div class="mb-6 text-xl"><a href="#">Order id: 1</a></div>
        <div class="w-full">
            <div class="product flex mb-6">
                <div class="w-1/4">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEWI6J2lOyXXVr1Waigqqc6O7e1fUrUEH_XA&s" alt="" class="hover:shadow-lg rounded-xl">
                </div>
                <div class="w-3/4 pl-6">
                    <div class="flex justify-between mb-6">
                        <a href="#">Product name</a>
                        <span class="text-gray-500">$9.99</span>
                    </div>

                    <hr>
                    
                    <ul class="mt-5">
                        <li>Quantity: 1</li>
                    </ul>
                </div>
            </div>
            <div class="product flex mb-6">
                <div class="w-1/4">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEWI6J2lOyXXVr1Waigqqc6O7e1fUrUEH_XA&s" alt="" class="hover:shadow-lg rounded-xl">
                </div>
                <div class="w-3/4 pl-6">
                    <div class="flex justify-between mb-6">
                        <a href="#">Product name</a>
                        <span class="text-gray-500">$9.99</span>
                    </div>

                    <hr>
                    
                    <ul class="mt-5">
                        <li>Quantity: 1</li>
                    </ul>
                </div>
            </div>
            <div class="product flex mb-6">
                <div class="w-1/4">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEWI6J2lOyXXVr1Waigqqc6O7e1fUrUEH_XA&s" alt="" class="hover:shadow-lg rounded-xl">
                </div>
                <div class="w-3/4 pl-6">
                    <div class="flex justify-between mb-6">
                        <a href="#">Product name</a>
                        <span class="text-gray-500">$9.99</span>
                    </div>

                    <hr>
                    
                    <ul class="mt-5">
                        <li>Quantity: 1</li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="ml-auto p-4 space-y-2 text-left text-md inline-block bg-white rounded-md">
            <div class="w-40 flex justify-between">
                <span>Date:</span>
                <span>29.07.2025</span>
            </div>
            <div class="w-40 flex justify-between">
                <span>Total:</span>
                <span>$199.00</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}